<server description="Server for testing JavaServer Faces 2.2 with JPA 2.0">

    <include location="../fatTestPorts.xml"/>
    
    <featureManager>
        <feature>jsf-2.2</feature>
        <feature>jpa-2.0</feature>
    </featureManager>
    
    <logging traceSpecification="*=info:org.apache.myfaces.*=all:com.ibm.ws.jsf*=all" maxFileSize="20" maxFiles="10" traceFormat="BASIC"/> 
 
    
</server>
