<!--
 * Copyright (c)  2015 IBM Corporation and others.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *     IBM Corporation - initial API and implementation
 -->
 <server description="Server for testing the jsf-2.0 and jsf-2.2 features together.  An error should occur since both features are singleton features.">

    <include location="../fatTestPorts.xml"/>
    
    <featureManager>
        <feature>jsf-2.0</feature>
        <feature>jsf-2.2</feature>
    </featureManager>
    
    <logging traceSpecification="*=info:org.apache.myfaces.*=all:com.ibm.ws.jsf*=all" maxFileSize="20" maxFiles="10" traceFormat="BASIC"/> 
    
</server>
